aside {
  top: 0px;
  bottom: 0;
  left: 0;
  width: 0px;
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
  padding: 2px;
  position: fixed;
  height: 0%;
  overflow-y: auto;
}

.filters {
  margin: 10px;
}

.filter button {
  display: block;
  width: 100%;
  background-color: #ddd;
  border: none;
  padding: 10px;
  margin-bottom: 5px;
  text-align: left;
  cursor: pointer;
}

.filter.open button {
  background-color: #bbb;
}

.options {
  display: none;
  padding: 5px;
}

.filter.open .options {
  display: block;
}

.option {
  margin-bottom: 10px;
}

.option label {
  display: inline-block;
  width: 120px;
  font-weight: bold;
}

.option select {
  width: 150px;
  padding: 5px;
}

.actions {
  margin-top: 10px;
}

.actions button {
  background-color: #0077cc;
  color: #fff;
  border: none;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
}


.actions button:last-child {
  margin-right: 0;
}

.movedown {
  transform: translateY(100%);
}
.filters button:first-of-type {
  background-color: #0077cc;
}
.filters button:last-of-type {
  background-color: #0077cc;
}
.actions{
  width: 100%;
  display: flex;
}